body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #F5F5F5;
  }
  
  h1 {
    color: #fff;
    padding: 10px;
    width: 100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h2 {
    color: #555;
    font-size: 20px;
    justify-content: center;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  p {
    color: #777;
    line-height: 1.25;
    font-size: 18;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    margin: 1 auto;
  }
  
  ul, ol {
    color: #777;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: start;
    margin: 1 auto;
    flex-wrap: wrap;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  h6 {
    color: #999;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
  }